@import url("components/navbar.css");
@import url("components/social-links.css");
@import url("pages/home.css");



* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
}

.dark-theme {
  --primary-color: #0E1117;
  --secondary-color: #fff;
}


#icon {
  width: 30px;
  cursor: pointer;
}














